.container{
    background:black;
    overflow:hidden;
    position:relative;
}

.video{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:transform .2s linear;
}

.overlay{
    position:absolute;
    inset:0;

    background:
    linear-gradient(
        rgba(0,0,0,.1),
        rgba(0,0,0,.45)
    );
}

.titleContainer{

    position:absolute;

    width:100%;
    top:90px;

    display:flex;
    flex-direction:column;
    align-items:center;
}

.title{

    color:white;

    font-size:90px;

    font-weight:900;

    margin:0;

    text-shadow:
    0 8px 30px rgba(0,0,0,.6);

    letter-spacing:2px;
}

.subtitle{

    color:white;

    font-size:42px;

    margin-top:20px;

    background:#ff2d55;

    padding:15px 45px;

    border-radius:100px;

    font-weight:bold;
}

.button{

    position:absolute;

    bottom:110px;

    left:50%;

    transform:translateX(-50%);

    background:#00c853;

    color:white;

    font-size:42px;

    font-weight:bold;

    padding:25px 60px;

    border-radius:100px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.4);
}

.shine{

    position:absolute;

    top:-20%;

    left:-40%;

    width:40%;

    height:150%;

    background:
    linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,.35),
        transparent
    );

    transform:rotate(20deg);

    animation:shineMove 4s linear infinite;
}

@keyframes shineMove{

    from{

        left:-40%;
    }

    to{

        left:130%;
    }

}